<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/sdc/documentupload.css" />
    <title>Document</title>
    
</head>
<body>
    <section class="container">
        <header><b>Student Document Upload Form</b></header><br><br>
        <form action="#" class="form">
          <div class="input-box">
            <label for="pname">Allocated Project: </label>
            <input type="text" id="pname" name="pname"><br><br>
            <label> Choose the File to upload: </label><br/>
            <input type="file" id="myFile" /> <br /><br />
            </div>
          <button> Submit </button>
        </form>
    
</body>
</html>