{% extends 'studentbase.html' %}
{%block stylesheet%}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/dashboard1/css/style.css">
<style>
    .li-none
    {
        list-style-type:none
    }
</style>

{%endblock%}
 
{% block content %}

<div class="dashboardcenter"><h1>ADMISSION DASHBOARD COMMING SOON!!!</h1></div>


{% endblock%}
{% block javascript %}
    <script src="/static/js/dashboard1/jquery.min.js"></script>
    <script src="/static/js/dashboard1/popper.js"></script>
    <script src="/static/js/dashboard1/bootstrap.min.js"></script>
    <script src="/static/js/dashboard1/main.js"></script>
{% endblock %}