{% extends 'userbase.html' %}

{%block stylesheet%}
<style>
body{
    font-size: 14px!important;
}
.blue-grey{
    background: #8ac4eb!important;
}
.custom-select {
    height: 40px;
    border-radius: 0.50rem;
    font-size: 18px!important;
}
input[type="text"]{
    height: 40px;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.img-class{

    height: 50px!important;
    width: 50px!important;
    border-radius: 50px!important;
    margin-left: -200px!important;
}
custom-select{
   border:"0 px solid #ced4da";
}
selectfilter{
    border: 0px solid #dddd!important;
}
#course{display:none !Important;}


.dt {
    display: flex!important;
    line-height: inherit!important;
    font-weight: 400!important;
    background: white!important;
    border-style: solid!important;
    border-color: #8080804a!important;
    border-width: 1px!important;
    font-size: 16px!important;
    color: #080808a8!important;
    height: auto!important;
    padding: 9px 6px!important;
    text-align: center!important;
    
}
.wm-tweet-us{
    background: azure;
    color: rgb(25, 25, 49);
   }
.details-name {
    padding: 0 0 0,0;
    margin: 0 auto;
    width: 99%;  
    -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 6px 1px #adadadc9;
}
</style>
<link rel="stylesheet" href="static/css/student/css/style.css">     
<link rel="stylesheet" href="static/css/student/css/font-awesome.min.css.css">     
<link rel="stylesheet" href="static/css/student/css/bootstrap.min.css">     
<link rel="stylesheet" href="static/css/student/css/exhibitor.css">     
<link rel="stylesheet" href="static/css/student/css/material-icons.css">     
<link rel="stylesheet" href="static/css/student/css/mdb.min.css">
<link rel="stylesheet" href="static/css/student/css/material-icons.css">
<link rel="stylesheet" href="static/css/student/css/text-editor.css">


{%endblock%}

{% block content %}
<form onsubmit="return form_submit(event);" id="create_feedback" name="create_feedback" action="." method="post"
enctype="multipart/form-data">
{% csrf_token %}

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
    <div style="width:100%;height:100%; margin-top: 20px; background-color: #ffffff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);">
       
        <div class="row" style="float:left; width: 100%;">
            <div class="class=col-md-11 pd-lg 5 details-name" style="margin-left:40px; margin-top: 15px;background: #00afef;">
                <h4 style="color:#ffffff; margin: 11px; font-size: xx-large;text-align:center;">Create Feedback</h4>
            </div>
        </div>
        <div class="row" style="float:left; width: 100%;margin-bottom:20px;margin-top:20px;">
            <div class="col-md-4" style="margin-top:20px;margin-left:100px">
                <label>Select Feedback</label>
                <select id="feedback_type" name="feedback_type" class="custom-select" style="width:100%;display:flex;font-size:14px">
                    <option selected value="">Select Feedback Type</option>
                    {%for item in feedback_types %}
                        <option value="{{item.id}}">{{item.feedback_for}}</option>
                    {%endfor%}
                </select>
            </div>
            <h1 style="margin-top:20px;margin-left:40px">OR</h1>
            <div class="col-md-4" style="margin-top:20px;margin-left:20px;">
                <label>Enter Feedback Name</label>
                <input id="feedback_name" name="feedback_name" type="text" style="width:100%;display:flex;;font-size:18px" placeholder="Enter Feedback Name">
            </div>
        </div>
        <div class="row" style="float:left; width: 100%;margin-bottom:20px;">
            <div class="col-md-4" style="margin-top:20px;margin-left:100px">
                <label>Select Academic Year</label>
                <select id="academic_year" name="academic_year" class="custom-select" style="width:100%;display:flex;font-size:14px">
                    <option selected value="">Select Academic Year</option>
                    {% for ay in academic_years %}
                    <option value="{{ay.id}}">{{ay.ayear}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-md-4" style="margin-top:20px;margin-left:110px;">
                <label>Select Audience</label>
                <select id="audience" name="audience" class="custom-select" style="width:100%;display:flex;font-size:14px">
                    <option selected value="">Select Audience</option>
                    {% for au in audience %}
                    <option value="{{au.id}}">{{au.audience}}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
    
        <div class="row" style="float: left;width:100%;margin-bottom:20px;margin-top:30px;">
            <div style="margin-left: 115px;">
                <label>Feedback Start Date</label>
                <input required="required" type="date" class="dt" id="start_date"
                    name="start_date"  value="" placeholder="Select date">
            </div>
            <div style="margin-left: 20px; margin-top:25px;">
                <input required="required"  type="time"
                        class='dt' id="start_time" name="start_time" value=""
                        placeholder="Select time" />
            </div>
            <div style="margin-left: 140px;">
                <label>Feedback End Date</label>
                <input required="required" type="date" class="dt" id="end_date"
                    name="end_date"  value="" placeholder="Select date">
            </div>
            <div style="margin-left: 20px;margin-top:25px;">
                <input required="required"  type="time"
                        class='dt' id="end_time" name="end_time" value=""
                        placeholder="Select time" />
            </div>   
        </div>
        <div class="row" style="float: left;width:100%;margin-bottom:20px;margin-top:30px;margin-left:380px;">
            <div class="wm-plan-button-typo">
                <button id="btn_create" name="btn_create" style="width: 200px;height:50px;font-size:20px; margin-left: 12%; padding: 0;color: #ffffff; background: #00afef;" type="button" class="wm-tweet-us"  onclick="save_feedback(this.id);">Create</button>
              </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>

</div>
</form>
{% endblock%}

{%block javascript%}
<script type="text/javascript">
    var form_valid=false;
    function form_submit(e)
    {
        $("#overlay").show();
        
        var form_valid= is_form_valid();
        if(form_valid)
        {
            return true;
        }
        else
        {
            $("#overlay").hide();
            e.preventDefault();
            return false;
        }
    }
    function is_form_valid()
    {
        form_valid=true;
        return form_valid;
    }
    function save_feedback(id)
    {
        $('#create_feedback').submit();
    }
</script>

{%endblock%}
